!.vscode/
*.glob
*.o
*.vo
*.vok
*.vos
.*.aux
.*.d
.claude/
.claude/*
.lia.cache
.nia.cache
.tmp/
.tmp/*
Makefile.coq
Makefile.coq.conf
libsecp256k1_scalar.a
out
proof/Source_scalar_4x64.v
result
scripts/
scripts/*